*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.frontpage{
  background-color: black;
  position:relative;
  display:flex;
  justify-content: center;
  width:100%;
  height:100vh;
  z-index:-3;
  position:fixed;

}

.bg-video{
  filter:brightness(0.5);
  background-color: rgb(0,0,0);
  width:100%;
  height:100%;
}

.frontpage video{
  z-index:-5;
  width:100%;
  height:100%;
}

.main{
  display:flex;
  position:fixed;
  top:50px;
  left:80px;
  flex-direction: column;
}

.part1,.part2{
  width:60px;
  height:1.5px;
  margin-top:3px;
  margin-bottom:3px;

  background-color: white; 
}

.s1{
  height:200px;
  background-image: url("header.svg");
  top:10%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3%;

}

.s2{
  background-image: url("tagline.webp");
  width:250px;
  height:50px;
  background-size: contain;
  background-repeat: no-repeat;
  top:40%;
  margin:20px;
  margin-bottom: 25px;
  margin-top: -15px;
}

.info{
  align-self: center;
  justify-content: center;
  align-items: center;
  position:relative;
}

.info button{
  border:none;
  text-align:center;
  background-color:transparent;
  color:white;
  font-family: Arial, sans-serif !important;
  font-size: 20px;
  border:2px solid white;
  border-radius: 50px;
  padding:7px 30px;
}

.info button:hover
{
  background-color: white;
  color:black;
  transition: 0.25s;
}

.grids{
  position:absolute;
  top:60px;

}

.cityname{
  height:1.5px;
  width:50px;
  background-color: white;
  margin:20px;
}

.text{
  display:flex;
  color:white;
  width:100vw;
  position: absolute;
  top:375px;
  word-spacing: 3px;
}

.leftside{
  display: flex;
  align-items: center;
  justify-self: flex-start;
  padding-left:5%;
  width:50vw;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

.leftside:hover{
  letter-spacing: 4px;
  transition:0.25s;
}

.rightside{
  display:flex;
  align-items: center;
  justify-self: flex-end;
  justify-content: flex-end;
  padding-right:5%;
  width:50vw;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;

}

.rightside:hover
{
  letter-spacing: 4px;
  transition:0.25s ease-in-out;
}

.dump
{
  position: relative;
  width:100%;
  height:2px;
}

.awards_image
{
  position:absolute;
  top:410px;
  margin-left: 10vw;
  margin-right: 10vw;
}
.awards_image img
{
  width:80vw;
  height:100%;
}

.end
{
  width:1.5px;
  height:130px;
  background-color: aliceblue;
  position: absolute;
  top:570px;
  animation: anima 2s ease-in-out infinite;
  z-index:5;
  border-radius:2px;
}

.endline
{
  width:1.25px;
  height:130px;
  background-color: transparent;
  position: absolute;
  top:570px;
  z-index:4;
  background-color: rgb(0,0,0,0.3);
  border-radius:2px;
}

@keyframes anima {
  from{
    clip-path: polygon(0 0,100% 0%,100% 0,0 0);
  }
  50%{
    clip-path: polygon(0 0,100% 0%,100% 100%,0 100%);
  }
  to{
    clip-path: polygon(0 100%,100% 100%, 100% 100%, 0 100%);
  }
}

.majorp
{
  background-color: white;
  position:absolute;
  top:100vh;
}
.photos
{
  display: flex;
  width:100%;
  background-color: white;
  padding-top:400px;
  position:absolute;
  top:100vh;
}

.photo1,.photo2,.photo3{
  width:33.3%;
  height: 500px;
}
.photo1 img,.photo2 img,.photo3 img{
  height:700px;
  width:100%;
}
